@CHARSET "UTF-8";
* {
	margin:0;
	padding: 0;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	color: #0f0f0f;
	background-color: #262626;
	background-image: url("../images/background_bright.png");
	background-repeat: repeat;
}

main p {
	margin-bottom: 1em;
}

a {
    color: #689ece;
}

a:visited {
    color: #745790;
}

div#container {
	background-color: rgba(0, 0, 0, 0);
	margin: auto;
	margin-top: 10px;
}

footer {
	background-color: rgba(38, 38, 38, 0.8);
	background-image: url("../images/background_diamonds_bright.png");
}

nav ul {
	list-style: none;
	background-color: rgba(38, 38, 38, 0.8);
	background-image: url("../images/background_diamonds_bright.png");
	box-sizing: border-box;
	margin-bottom: 1em;
}

nav ul li {
	height: 2em;
	font-size: 150%;
	font-weight: bold;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}

nav ul li a, nav ul li a:visited{
	color: #0f0f0f;
	text-decoration: none;
	display: block;
}

nav ul li.actual {
	background-color: rgba(98, 98, 98, 0.3);
}

nav ul li:hover {
	background-color: rgba(98, 98, 98, 0.5);
}

h1, h2, h1 span {
	font-family: 'Oswald', sans-serif;
}

h2, main, footer {
	padding: 15px 10px;
}

h1 {
	background-image: url("../images/DjBanner-Klein.jpg");
	height: 100px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	font-size: 3rem;
}

h1 span {
	position: absolute;
	right: 15px;
	bottom: 15px;
	color: #efefef;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.6rem;
	margin-bottom: 0.3em;
}

th,td {
	padding: 0.6em 1.2em 0 0;
	text-align: left;
	vertical-align: top;
}

table caption {
	display: none;
}

fieldset {
	border: 1px solid #0f0f0f;
	padding-top: 1em;
}

legend {
	margin-left: 2em;
	font-size: 1.4em;
	font-weight: bold;
}

form {
    margin: 30px 0;
}

.alert-danger {
    padding: 0.5em;
    border: 1px solid red;
    color: red;
    border-radius: 5px;
    width: 100%
    margin-bottom: 1em;
    box-sizing: border-box;
}
.alert-danger ul {
    list-style-type: none;
}
label,input,textarea {
    margin-bottom: 16px;
}
input,textarea {
    border: 1px solid #888;
    margin: 2px 0 16px 0;
    outline: 0 none;
    padding: 0.5em;
    line-height:15px;
    border-radius: 3px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    box-sizing: border-box;
}

table.productOverview form {
	margin: 0;
}

table.productOverview form input {
	height: inherit;
}

table.productOverview form input[type="number"] {
	width: 60px;
	
}

table.productOverview form input[type="submit"] {
	margin-left: 1em;
}

.has-error {
    color: #b94a48;
    border-color: #b94a48;
    box-shadow: inset 0px 1px 4px #d59392;
}


/* mobile first */
div#container {
	width: 95%;
}

nav ul li {
	display: block;
	border-bottom: 2px solid #191919;
}

nav ul li:first-child {
	border-top: 2px solid #191919;
}

label,input,textarea {
    display: block;
}
input[type="text"], input[type="email"], textarea {
    width: 100%;
}
input {
    height: 25px;
}


/* desktop */
@media screen and (min-width: 650px) {
	div#container {
	max-width: 1000px;
	}
	h1 {
	background-image: url("../images/DjBanner-Groot.jpg");
	}
	
	nav ul {
  	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  	display: -ms-flexbox;  /* TWEENER - IE 10 */
  	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	box-sizing: border-box;
	}
	
	nav ul li {
	width: 33%;
	margin: auto;
	border: none;
	}
	nav ul li:first-child {
	border: none;
	}
	nav ul li a {
	text-align: center;
	}
	footer {
	text-align: right;
	}
	    .alert-danger {
        width: 614px;
    }
    label,input,textarea {
        display: inline-block; 
    }
    label {
        width: 100px;
        text-align: right;
        margin-right: 10px;
    }
    input[type="text"], input[type="email"], input[type="password"], textarea{
        width: 400px;
    }
    input[type="submit"] {
        margin-left: 112px;
    }
    textarea {
        vertical-align: middle;    
    }
	
	
}

/*
d3bb03 green
977007 brown
303d11 black
f3dc04 yellow
*/
